# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# PyCharm
# ==========================================================

.idea/

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Chroma Vector Database
# ==========================================================

vectorstore/chroma_db/

# ==========================================================
# Python Build Files
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Generated data
# ==========================================================

data/raw/*.json
data/processed/*.json